
.popup{
    position: fixed;
    /* left: 0%;
    min-width: 100vw;
    height: fit-content;
    margin: 0px;
    z-index: 3;
    top: 150px; */
    top: 200px;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 100vw;
    z-index: 9;
    box-shadow: rgba(0,0,0,0.8) 30px 30px 300px;
}

.popup-inner {
    min-height: fit-content;
    padding: 30px;
    z-index: 10;
    background-color: white;
}

.popup-inner .close-btn{
    position: fixed;
    top: 5%;
    right: 5%;
}



