
.popup{
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 3;
    top: 150px;
}

.popup-inner {
    width: 80vw;
    height: 70vh;
    position: absolute;
    padding: 30px;
    left: 10%;
    z-index: 10;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(0,0,0,0.8) 30px 30px 300px;
}

.popup-inner .close-btn{
    position: fixed;
    top: 5%;
    right: 5%;
}



